In [2]:
#variables
variable1=10
variable2=20
print(id(variable1))
print(id(variable2))

140717031535728
140717031536048

In [7]:
var1,var2,var3=2,2,6
print(var1,var2,var3)
print(id(var1))
print(id(var2))
print(id(var3))

2 2 6
140717031535472
140717031535472
140717031535600

In [12]:
var1=var2=var3=10
print(var1,var2,var3)
print(id(var1))
print(id(var2))#stores the same location id for value '10' irrespective of the variable name

10 10 10
140717031535728
140717031535728

In [22]:
#Datatypes
#Python Numbers

Empid=2427
print(Empid,'is type of an',type(Empid))

dist=11.6
print(dist,'is type of an',type(dist))

data2=234 + 6j
print(data2,'is type of an',type(data2))

2427 is type of an <class 'int'>
11.6 is type of an <class 'float'>
(234+6j) is type of an <class 'complex'>

In [28]:
#boolean

booleanvar=True
print(type(booleanvar))

<class 'bool'>

In [29]:
print(' is ',data2,' type of class, complex?', isinstance(data2,complex))

 is  (234+6j)  type of class, complex? True

In [25]:
#Strings

stringvariable='This is a string value'
print(stringvariable)

This is a string value

In [30]:
#Slicing of string variables

print(stringvariable)
print('The first character in stringvariable is: ',stringvariable[0])
print('The first four character in stringvariable is:',stringvariable[:4])
print(stringvariable[:-1])
print(stringvariable[-1:])
print(stringvariable[:-2])

This is a string value
The first character in stringvariable is:  T
The first four character in stringvariable is: This
This is a string valu
e
This is a string val

In [1]:
#Python List

Mylist=[ 1 , 2.2 , 'Helloworld' , 33 , 66.6  ]
print(Mylist)
print(Mylist[1])

Mylist[3]='text' #Replace item in the list with index
print(Mylist)

Mylist.remove('text') #Remove item from the list
print(Mylist)

Mylist.pop(3) #Remove item from the list using index
print(Mylist)

Mylist.append(33.3) # Append value in the last index
print(Mylist)

[1, 2.2, 'Helloworld', 33, 66.6]
2.2
[1, 2.2, 'Helloworld', 'text', 66.6]
[1, 2.2, 'Helloworld', 66.6]
[1, 2.2, 'Helloworld']
[1, 2.2, 'Helloworld', 33.3]

In [2]:
#sorting and reverse sorted list

list1= [23, 1, 23, 4, 56, 32]
#list1.sort()                   original list can be sorted 
sortlist = sorted(list1)
print(list1)
print(sortlist)

[23, 1, 23, 4, 56, 32]
[1, 4, 23, 23, 32, 56]

In [3]:
revsortlist = sorted(list1, reverse=True)
print(revsortlist)

help(sorted)

[56, 32, 23, 23, 4, 1]
Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [7]:
# Multiple reference to a list- creates the same memory location of original list, 
#doen't create seperate memory location for reference variable

mlist = [8, 4, 90, 54]
myref = mlist
myref.append(44)
print("My original list is: ",mlist)

My original list is:  [8, 4, 90, 54, 44]

In [2]:
# List Slicing
mylist = [8, 4, 90, 54, 'amy', 'krish', 99 ,55.9, 98.55]
print(mylist[ : ])
print(mylist[1:3])
print(mylist[1 : 5])

[8, 4, 90, 54, 'amy', 'krish', 99, 55.9, 98.55]
[4, 90]
[4, 90, 54, 'amy']

In [5]:
#stride for skiping elements

mylist = [8, 4, 90, 54, 'amy', 'krish', 99 ,55.9, 98.55]
print(mylist[ ::-1])
print(mylist[ 1:6:2])    # startindex : endindex : how many steps to be skipped by default it is 1
                         # if it is 2 then it skips 1 element between 2 elements

[98.55, 55.9, 99, 'krish', 'amy', 54, 90, 4, 8]
[4, 54, 'krish']

In [6]:
# List comprehensions, print the squares of the existing list

lc = []
for i in range(4):
    lc.append(i ** 2)
print(lc)

# we can comprehend the same as
lc = [i ** 2 for i in range (4)]
print(lc)

[0, 1, 4, 9]
[0, 1, 4, 9]

NameError: name 'append' is not defined

In [13]:
mlist = []
for i in range (1,10,3):
    mlist.append(i)
    print(i)

1
4
7

In [1]:
#Python Tuple (immutable which means does not change)

mytuple= (2,3,1,6,3)

print(mytuple)
mytuple[1]=5
print(mytuple)

(2, 3, 1, 6, 3)

TypeError: 'tuple' object does not support item assignment

In [2]:
mytuple= (2,3,1,'Rama',6,3)
print(mytuple[2])

1

In [17]:
nestedtuple= (2,3,1,'Rama',6,3,[1,2,4])
print(nestedtuple[-1][2])
print(nestedtuple[:])
print(nestedtuple[1:-2])
print(nestedtuple[-3:])

4
(2, 3, 1, 'Rama', 6, 3, [1, 2, 4])
(3, 1, 'Rama', 6)
(6, 3, [1, 2, 4])

In [26]:
nestedtuple= (2,3,1,'Rama',6,3,[1,2,4])
nestedtuple[-1][2] = 'krishna'
print(nestedtuple)

(2, 3, 1, 'Rama', 6, 3, [1, 2, 'krishna'])

In [19]:
concatenatetuple= (2,3,1,'Rama',6,3) + (0,9,8)
print(concatenatetuple)

(2, 3, 1, 'Rama', 6, 3, 0, 9, 8)

In [24]:
mytuple = ('Rama',) * 3
print(type(mytuple))
print(mytuple)

<class 'tuple'>
('Rama', 'Rama', 'Rama')