In [4]:
#Python output

print("This is an example output")

op=300
print("The output is ",op)

print("When concatenating, The output is "+ str(op))

This is an example output
The output is  300
When concatenating, The output is 300

In [1]:
#Output Formating

of1=10
of2=20
print("of1: {} is half of of2: {} ".format(of1,of2))

of1: 10 is half of of2: 20

In [3]:
print("of2: {} is double of of1: {} ".format(of1,of2))
print("of2: {1} is double of of1: {0} ".format(of1,of2))

of2: 10 is double of of1: 20
of2: 20 is double of of1: 10

In [6]:
name='Rama'
pt='Python'
print("Welcome {name} to the world of {pt}".format(name='Rama',pt='Python'))

Welcome Rama to the world of Python

In [14]:
print("Welcome {0} to the world of {pt}, you are learning {1}".format('Rama','opformatting',pt='Python'))

Welcome Rama to the world of Python, you are learning opformatting

In [20]:
print('{2}, {1}, {0}'.format(*'abc'))

c, b, a

In [57]:
coord = (3, 5)
print( 'X: {0[0]};  Y: {0[1]}'.format(coord))

X: 3;  Y: 5

In [70]:
my_list = ('1','5', '3', '4') 
print('my_list is: {},{}'.format(my_list))

IndexError: tuple index out of range

In [56]:
coord = {'latitude': '37.24N', 'longitude': '-115.81W'}
print('Coordinates: {latitude}, {longitude}'.format(**coord))

Coordinates: 37.24N, -115.81W

In [17]:
xtre=('company', 'emp', 'profile')   # tuple unpacking
print(*xtre)

company emp profile

In [91]:
#Unpacking argument sequence

q={'text1': 'value1','text2': 'value2'}
print("op is {text1},{text2}".format(**q))

op is value1,value2

In [1]:
'{2}, {1}, {0}'.format(*'abc')

'c, b, a'

In [31]:
'{:*^30}'.format('Centeralligned')

'********Centeralligned********'

In [34]:
print('{:+f}; {:f}'.format(11.2,-11.2))

+11.200000; -11.200000

In [49]:
points = 19
total = 22
print('Correct answers: {:.2%} '.format(points/total))

Correct answers: 86.36%

In [50]:
'{:,}'.format(1234567890)

'1,234,567,890'

In [54]:
#Python Input

userinput = input("please enter some value")
print("The value you entered is: ",userinput)
print(type(userinput))

classstrength=int(userinput)
print("The value you entered is: ",classstrength)
print(type(classstrength))

please enter some value44
The value you entered is:  44
<class 'str'>
The value you entered is:  44
<class 'int'>